/*  Estilizações universais da pagina*//*181A1B*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 750px;
    /*border: 2px solid red;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-image: url('../img/banner-imgs/img-banner.jpg');
    background-size: cover;
    background-position: center;
}

#menu{
    width: 100%;
    height: 100px;
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: -20px;
}

.ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Arvo', serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'MuseoModerno', cursive;
}

#link,a{
    text-decoration: none;
    color: gainsboro;
    font-size: 19px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 25px;
}

#link:hover{
    border-bottom: 1px solid white;
}

#button{
    width: 200px;   
    height: 50px;
    border: 1px solid red;
    border-radius: 8px;
    font-size: 22px;
    transition: filter 0.4s;
    animation-duration: 0.5s;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 17px;
    margin-left: 24px;
}

#button:hover{
    filter: brightness(90%);
    color: white;
    border: 1px solid green; 
}

#logo{
   color: gainsboro;
   font-size: 25px;
   font-family: 'Arvo', serif;
   font-family: 'Fjalla One', sans-serif;
   font-family: 'MuseoModerno', cursive;
}

#info-iniciais{
    width: 100%;
    height: 600px;
    /*border: 2px solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    margin-bottom: -20px;
}

#texto-inicial{
    width: 850px;
    height: 60px;
    /*border: 2px solid orange;*/
    font-family: 'Arvo', serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'MuseoModerno', cursive;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-principal{
    width: 600px;
    height: 400px;
   /*border: 2px solid gray;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-image: url('../img/banner-imgs/programador.svg');
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));*/
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width:5px;
    height: 5px;
}


::-webkit-scrollbar {
    width:5px;
    height: 5px;
 }
     
::-webkit-scrollbar-track {
    background:#333;
 }
    
::-webkit-scrollbar-thumb {
    background: black;
 }

    
/* Inicio da estilização sobre informações do Desenvolvedor*/
#sobre{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010615;
}

#sobre-info{
    width: 800px;
    height: 400px;
    padding: 15px;
    font-family: 'Arvo', serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'MuseoModerno', cursive;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilização da section de tecnologias usadas*/
#habilidades{
    width: 100%;
    height: 689px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #18222D;
}

.galeria{
    width: 750px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infor-tecnologias{
    width: 400px;
    height: 400px;
    font-family: 'Arvo', serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'MuseoModerno', cursive;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

slider{
    display: block;
    width: 700px;
    height: 500px;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 700px;
    height: 500px;
    background-color: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1){
    left: 100%;
    animation-delay: -1s;
    background-image: url("../img/techs-imgs/mysql1.jpg");
    background-size: cover;
    background-position: center;   
 }

 slide:nth-child(2){
    left: 100%;
    animation-delay: 2s;
    background-image: url("../img/techs-imgs/js5.jpg");
    background-size: cover;
    background-position: center;   
 }

 slide:nth-child(3){
    left: 100%;
    animation-delay: 5s;
    background-image: url("../img/techs-imgs/java2.png");
    background-size: cover;
    background-position: center;   
 }

 slide:nth-child(4){
    left: 100%;
    animation-delay: 7s;
    background-image: url("../img/techs-imgs/php.png");
    background-size: cover;
    background-position: center;   
 }

 slide:nth-child(5){
    left: 100%;
    animation-delay: 10s;
    background-image: url("../img/techs-imgs/js3.jpeg");
    background-size: cover;
    background-position: center;   
 }


 @keyframes slide{
    0% { left:100%; width:100%;}
    5% { left:0%;}
    25% { left:0%;}
    30% { left:-100%; width:100%;}
    30.0001% { left:-100%; width:0%;}
    100% { left:100%; width:0%;}
 }

 /*Estilização da lista sobre meus projetos*/
 .titulo-projetos{
     width: 100%;
     height: 200px;
     /*border: 2px solid orange;*/
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #010615;
 }

 #titulo-lista{
    font-family: 'Arvo', serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'MuseoModerno', cursive;
    font-size: 35px;
    color: white;
 }

 #lista-projetos{
     width: 100%;
     /*padding: 80px;*/
     height: 1400px;
     /*border: 2px solid green;*/
     background-color: #010615;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
 }

 #projetos{
     width: 620px;
     height: 450px;
     /*border: 1px solid red;*/
     padding: 5px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-direction: column;
 }

 #img-projetos{
     width: 100%;
     height: 350px;
     box-shadow: 0px 0px 1em black;
     transition:all 0.4s ease-out;
     animation-duration:3s;
 }

 #img-projetos:hover{
   cursor:pointer;
   transform:translateY(-20px);
   box-shadow:4px 30px 16px 0px rgba(50,50,50, 0.45);    
 }

 #texto-info-projetos{
    color: gainsboro;
    font-size: 15px;
    font-family: 'Arvo', serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'MuseoModerno', cursive;
    margin-top: 15px;
    text-align: center;
   /* border: 1px solid white;*/
}

/*Estilização da seção de contatos*/
#contatos{
    width: 100%;
    height: 669px;
    /*border: 1px solid orange;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #18222D;

}

#caixa-email{
    width: 600px;
    height: 450px;
    /*border: 1px solid red;*/
}

/*For de E-mail*/
/*estilização do form de cadastro de ongs*/

.form-Email{
    width: 600px;
    padding: 20px;
}

input, button, textarea, select{
    font: 400 18px Roboto, sans-serif;
}

button{
    cursor: pointer;    
}

form input{
    width: 100%;
    height: 60px;
    color: white;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-top: 5px;
    outline: 0;
    background-color: #18222D;
    margin-top: 15px;

}

form textarea{
    width: 100%;
    min-height: 140px;
    color: white;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
    resize: vertical;
    margin-top: 15px;
    outline: 0;
    background-color: #18222D;

}

.button-Enviar{
    width: 200px;
    height: 60px;
    background-color: red;
    border: 0;
    border-radius: 8px;
    color: white;
    font-weight: 700px;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button-Enviar:hover{
    filter: brightness(90%);
}

#form-info{
    font-family: 'Arvo', serif;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'MuseoModerno', cursive;
    font-size: 20px;
    color: gainsboro;
}

#link-contatos{
    width: 500px;
    height: 400px;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


#contato{
    text-decoration: none;
    color: gainsboro;
    font-size:17px;
    cursor: pointer;
    border: 1px solid transparent;
   /* border: 1px solid red;*/
    display:flex;
    width: 100%;
    height: 80px;
    align-items: center;
}

#contato:hover{
    color: white;
}

#icons-contatos{
    width: 100%;
    height: 150px;
    border-top: 0.5px solid gainsboro;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#icons{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 1em black;
    transition:all 0.4s ease-out;
    animation-duration:3s;
    display: flex;
    justify-content: center;
    align-items: center;
}


#icons:hover{
    border: 1px solid black;
    transform:translateY(-3px);
    box-shadow: 0px 0px 1em black;
}

#img-icons{
    margin-right: 10px;
}